services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./data/config:/config
      - ./data/cache:/cache
      - ${HOST_DOWNLOADS_PATH:-./apps/worker/downloads}:/media
      - /mnt:/mnt

  redis:
    image: redis:8.4.0-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    restart: unless-stopped
    depends_on:
      - redis
    env_file:
      - apps/worker/.env
    environment:
      REDIS_URL: redis://redis:6379
    ports:
      - "4000:4000"
    volumes:
      - ./data/session:/app/apps/worker/.session
      - ${HOST_DOWNLOADS_PATH:-./apps/worker/downloads}:/app/apps/worker/downloads
      - /mnt:/mnt

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    restart: unless-stopped
    depends_on:
      - redis
      - worker
    environment:
      REDIS_URL: redis://redis:6379
    ports:
      - "3000:3000"

volumes:
  redis_data:
  worker_session:
